@font-face {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/poppins/v20/pxiEyp8kv8JHgFVrFJA.ttf) format('truetype');
}
*,
::after,
::before {
  box-sizing: border-box;
}
html {
  display: block;
  scroll-behavior: smooth;
}
/*
//scheme 2
@olive: #77954d;
@light_olive: #5f7d35;
@gold: #ab9353;
@plum: #4d2c3d;
@light_plum: #753f5d;

@background: @plum;
@foreground: @light_plum;
@lighter_foreground: black;
@text_color: white;
@gradient_start: white;
@gradient_end: @gold;
*/
ul {
  padding: 0;
  list-style: none;
}
p {
  font-size: 12pt;
  line-height: normal;
  margin: 0;
}
body {
  background-color: #76323F;
  /*dark blue = #0b2545 
  light blue = #13315c
  olive = #56752a
  gold = #ab9353
  plum = #4d2c3d
  
  
  */
  color: white;
  font-family: "Poppins", sans-serif;
  overflow-x: hidden;
  margin: 0;
}
main {
  width: 100%;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
}
header {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  padding-left: 1rem;
  padding-right: 1rem;
  position: fixed;
  top: 0;
  left: 0;
  height: 54px !important;
  width: 100%;
  background-color: transparent;
  font-size: 16pt;
  z-index: 999;
  transition: all;
  transition-duration: 300ms;
}
header h1 {
  font-size: 12pt;
}
footer {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  padding-left: 4rem;
  padding-right: 4rem;
  height: 64px;
  box-sizing: border-box;
  background-color: #913e4d;
}
footer p {
  width: 100%;
  text-align: center;
  font-size: 10pt;
}
a:link,
a:visited,
a:hover,
a:active {
  text-decoration: none;
  color: white;
}
.nav-bar,
.nav-logo {
  display: flex;
  flex-direction: row;
  width: 100% !important;
  align-items: center;
  margin: 0;
}
.nav-logo img {
  border-radius: 100%;
  background-color: white;
  margin-right: 0.5rem;
  width: 32px;
  height: 32px;
}
.nav-menu {
  display: flex;
  flex-wrap: wrap;
}
.hamburger-icon {
  width: 38px;
  height: 38px;
  padding: 0.25rem;
  fill: white;
  border-radius: 0.25rem;
}
.hamburger-icon:hover {
  background-color: #bd4a5f;
}
.nav-links {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  position: fixed;
  flex-direction: column;
  align-items: center;
  left: 0;
  top: -100%;
  z-index: 90;
}
.show-nav-links {
  top: 54px;
  background-color: #913e4d;
  transition: all;
  transition-duration: 300ms;
}
.nav-links ul {
  margin: 0;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  width: 100%;
}
.nav-links ul li a {
  padding-top: 0.35rem;
  padding-bottom: 0.35rem;
  font-size: 1rem;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  height: 100%;
  width: 100%;
}
.nav-links ul li a:hover {
  align-items: center;
  cursor: pointer;
  background-color: #C09F80;
  border-bottom: 3px solid #ffffff;
}
section {
  min-height: 100px /*calc(100vh)*/;
  padding-top: 64px;
  padding-left: 1rem;
  padding-right: 1rem;
}
#hero {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.hero-text {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-bottom: 1.5rem;
}
.hero-image {
  width: 256px;
}
.name-text {
  font-size: 30pt !important;
  line-height: normal;
  font-weight: bold;
  margin: 0;
}
.job-text {
  font-size: 18pt !important;
  margin-bottom: 0.5rem;
}
.intro-text {
  text-align: justify;
  margin-bottom: 1rem;
}
.contact-button {
  background-color: #913e4d;
  color: white;
  border: 1px solid white;
  padding-top: 0.75rem;
  padding-bottom: 0.75rem;
  border-radius: 0.25rem;
  text-align: center;
}
/* ------------------------------ PROJECTS CSS -------------------------*/
#projects h2 {
  text-align: center;
}
#projects div {
  display: flex;
  flex-direction: row;
}
#projects li {
  background-color: #913e4d;
  padding: 1rem;
  margin-bottom: 1rem;
}
#projects ul li p {
  margin-bottom: 1rem;
}
#projects ul ul {
  display: flex;
}
#projects li.hoverable:hover {
  cursor: pointer;
  background-color: #bd4a5f;
  border-bottom: 3px solid #ffffff;
}
#projects ul ul li {
  background-color: tan;
  margin-right: 0.25rem;
  border-radius: 0.25rem;
  padding: 0.25rem;
  font-size: 10pt;
  text-align: justify;
}
/* ------------------------------ EXPERIENCE CSS -------------------------*/
#experience div {
  display: flex;
  flex-direction: column;
}
#experience li {
  background-color: #913e4d;
  padding: 1rem;
  margin-bottom: 1rem;
}
#experience ul li p {
  margin-bottom: 1rem;
}
#experience ul ul {
  display: flex;
}
#experience li.hoverable:hover {
  cursor: pointer;
  background-color: #bd4a5f;
  border-bottom: 3px solid #ffffff;
}
#experience ul ul li {
  background-color: tan;
  margin-right: 0.25rem;
  border-radius: 0.25rem;
  padding: 0.25rem;
  font-size: 10pt;
  text-align: justify;
}
.port-title-text {
  margin: 0%;
  margin-bottom: 1rem;
}
/* ------------------------------ CONTACT CSS -------------------------*/
#contact h2 {
  text-align: center;
}
#contact ul {
  display: flex;
  justify-content: space-evenly;
}
#contact a {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
}
#contact p {
  text-align: center;
}
#contact img {
  width: 54px;
  height: 54px;
  align-items: center;
}
/* ------------------------------ COMPATIBILITY CSS -------------------------*/
@media (min-width: 540px) {
  section {
    padding-left: 5rem;
    padding-right: 5rem;
  }
  p {
    font-size: 16pt;
  }
  h2 {
    font-size: 36px;
  }
  header {
    padding-left: 5rem;
    padding-right: 5rem;
    height: 72px !important;
  }
  .name-text {
    font-size: 64pt !important;
  }
  .job-text {
    font-size: 28pt !important;
  }
  .contact-button {
    font-size: 16pt;
    width: max-content;
    padding-left: 1.5rem;
    padding-right: 1.5rem;
  }
  .hero-image {
    width: 512px;
  }
  #projects ul {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;
  }
  #projects li {
    max-width: 45%;
    margin: 2.5%;
  }
  #contact ul {
    margin-left: 5rem;
    margin-right: 5rem;
  }
  footer p {
    font-size: 12pt;
  }
}
@media (min-width: 1024px) {
  section {
    max-width: 1366px;
    align-self: center;
  }
  p {
    font-size: 12pt;
  }
  h2 {
    font-size: 36px;
  }
  header {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    position: fixed;
    top: 0;
    left: 0;
    height: 54px !important;
    width: 100%;
    background-color: transparent;
    font-size: 16pt;
    z-index: 999;
    transition: all;
    transition-duration: 300ms;
    align-items: center;
    justify-content: center;
    padding-left: 0;
    padding-right: 0;
  }
  .nav-bar,
  .nav-logo {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin: 0;
    width: 100%;
    max-width: 1366px !important;
  }
  .nav-bar {
    padding-left: 5rem;
    padding-right: 5rem;
  }
  .nav-logo img {
    border-radius: 100%;
    background-color: white;
    margin-right: 0.5rem;
    width: 32px;
    height: 32px;
  }
  .nav-menu {
    display: none;
  }
  .nav-links {
    display: flex;
    flex-direction: row;
    flex-wrap: unset;
    position: static;
    top: 0;
    width: 100;
  }
  .nav-links ul {
    display: flex;
    flex-direction: row;
    justify-content: end;
    flex-wrap: unset;
    position: static;
    top: 0;
    width: 100;
    margin: 0;
    padding: 0;
    height: 52px;
  }
  .nav-links ul li a {
    margin-left: 1rem;
    margin-right: 1rem;
  }
  .nav-links ul li a:hover {
    margin-left: 1rem;
    margin-right: 1rem;
  }
  #hero {
    flex-direction: row;
  }
  .hero-text + .hero-image {
    margin-left: 5rem;
  }
  #projects ul {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;
  }
  #projects li {
    max-width: 30%;
    margin: 1.6%;
  }
  #contact {
    width: 100%;
    padding-bottom: 64px;
  }
  #contact ul {
    max-width: 512px;
    align-items: center;
    justify-content: space-evenly;
    margin: auto;
  }
}
/* ------------------------------ CUSTOM CLASSES CSS -------------------------*/
.gallery_row {
  display: flex;
  flex-wrap: wrap;
  padding: 0 5px;
}
/* Create two equal columns that sits next to each other */
.gallery_column {
  flex: 33.33%;
  padding: 0 5px;
}
.gallery_column img {
  margin-top: 10px;
  vertical-align: middle;
  width: 100%;
}
.text-gradient {
  background: linear-gradient(270deg, white, #C09F80);
  background-size: 300% 300%;
  -webkit-animation: AnimationName 7s ease infinite;
  animation: AnimationName 7s ease infinite;
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
@-webkit-keyframes AnimationName {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}
@keyframes AnimationName {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}
.scroll-header {
  background-color: #913e4d;
}
